<%= erb :header%>
   <h2> Latest Updates </h2>
    
 <% @journal.reverse.each do |journal| %>
      <%# <% if post != nil %> 
       <h3 id="jtitle" >    <%= journal.title %>    </h3>
        <h4 id="jsub">    <%= journal.subcategory %> </h4>
        <p id="jtext">    <%= journal.text %>     </p>

        <%# <% end %> 
        <% end %>