
<div class="home-flex-container">
<div class="home-flex-design">
 
</div>
 <form action="/" method="post" >

     <h1 style="font-family: 'Bangers', cursive;"> Welcome to Skate Kurb</h1>
   <h4 style="font-family: 'Bangers', cursive;">Sign In</h4>
     <input type="text" name="email" id="email" placeholder="E-mail" required>
     <input type="password" name="password" id="_password" placeholder="Password" required>
     <input class="blog btn" type="submit" value="Sign In">
     <br>
     
            <b style="font-family: 'Bangers', cursive; font-size: 2.6rem;"> OR </b>
     <p><a class="blog btn" href="/signup">Sign Up</a></p>
   </form>
   </div>

  
   
   
            
            
            
        
        
        
    

