@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Bangers|Permanent+Marker');

/* font-family: 'Amatic SC', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Bangers', cursive; */




/* html {
    background-color: aqua;
    
}
 */

.home-flex-container {
    display: flex;
    height: 90%;
    width: 100%;
    padding: 10px;
    margin: 2px;
    position: fixed;
    background-size: auto;
    
  
  }

  .home-flex-design {
    background-image: url(images/sk.jpg);
    display: flex;
    height: 620px;
    width: 683px;
  }

  

  