@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Bangers|Permanent+Marker');

/* font-family: 'Amatic SC', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Bangers', cursive; */




html {
    background-color: aqua;
}
